/*Margenes totales de la pagina*/
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-weight: bold;

}

.boton-whatsapp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #4bae77;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}
.boton-whatsapp:hover{
    text-decoration: none;
    color: #4bae77;
    background: white;
}

/*HEADER*/

header {
    height: 100px;
    background: white;
    padding: 0 50px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    color: #6cc091;
    font-weight: 200;
}

.menu a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu {
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover
.esconder-menu:hover{
    color:  #6cc091 ;

}

#check{
    display: none;
}

/*BANNER*/
#banner{
    padding: 0 50px;
    background-image: url(/proyectoterminado/imagenes/trigo1.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
}

#banner::before{
    content: '';
    background: rgba(185, 185, 207, 0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
}

.contenido-banner{
    position: relative;
    color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}

.contenido-banner h3 span{
    font-weight: 600;
}

/*Pagina de Artistas*/
article{
    background-color:#feeeb8;
    width: 100%;
    height: 100%;
    max-width: 1200;
    display: flex;
    align-items:center;
    overflow-y: auto;
    overflow-x: auto;
    flex-direction: column;
    justify-content: center;
  
  }

/*GRILLA*/

.container{
    width: 100%;
    max-width: 1000px;
    margin:auto;
}

.table {
    width: 100%;
    border: 1px solid #4bae77;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;

}

.table caption{
    font-size: 25px;
    text-transform: uppercase;
    color: #4bae77;
    font-weight: bold;
    margin: 8px 0px;

}

.table tr {
    background-color: #fdf9c4;
    border: 1px solid #4bae77;
}

.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.table thead, th {
    text-transform: uppercase;
    background-color: #f8de7e;
}

.table tbody tr:hover {
    background-color: #70c797;

}

.table tbody td:hover{
    background-color: #3e8b61;
}

.titulo {
    padding: 10px 50px;
    height:80px;
    background-size:cover;
    background-position:center;
    font-size:20px;
    font-weight: bold;
    text-align: center;
     }
  
    p{
    color:black;
    font-size:15px;
    margin:10px;
    font-weight:bold;
  }

/*PAGINA DE ARTISTAS*/

#contenedorartistas{

    background-color: #feeeb8;
}

h1 {
    text-align: center;
}

.carrousel {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.carrousel ul{
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 500px;
    scroll-behavior: smooth;
}

.carrousel-fotos {
    display: flex;
    gap: 10px;
    overflow: auto;
}

.carrousel-fotos img {
    background-color: black;
    border: 4px solid black;
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.carrousel-menu{
    display: none;
}

/*PAGINA DE CONTACTO*/

.container {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  form {
    display: grid;
    gap: 1rem;
    max-width: 800px;
    width: 100%;
  }
  
  .form-group {
    display: grid;
    gap: 0.5rem;
  }
  
  .form-group--full-width {
    grid-column: 1 / -1;
  }
  
  label {
    font-weight: bold;
  }
  
  input, textarea {
    padding: 0.5rem;
    width: 100%;
  }
  
  textarea {
    grid-column: 1 / -1;
  }
  
  #botonformulario {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .checkbox-group {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.25rem;
  }

  /* FOOTER */
  footer {
    background-color: #feeeb8;
    color: black;
    text-align: center;
    padding: 15px 0;
     }
 
    .footer-titulo{
       font-size: 20px;
      }   
      
    #map-responsive{
        display: none;
    }

    #boton{
        border-radius: 5px;
        font-size: 15px;
    }

    #boton:hover{

        cursor: pointer;
        color: #3e8b61;
        background-color: white;

    }
 
/*RESPONSIVE*/

@media(max-width: 768px){
    /*HEADER*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        right: -100%;
        top:0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu{
        right: 0;
    }
}

/*GRILLA*/

@media screen and (max-width: 600px) {
    .table{
        border: 0px;
    }

    .table caption{
        font-size: 20px;
    }
    
    .table thead{
        display: none;
    }

    .table tr{
        margin-bottom: 8px;
        border-bottom: 4p #4bae77;
        display: block;
    }

    .table th, .table td{
        font-size: 12px;
    }

    .table td{
        display: block;
        border-bottom: 1px solid #4bae77;
        text-align: right;
    }

    .table td:last-child{
        border-bottom: 0px;
    }

    table td::before{
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}

@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

/*CARROUSEL*/

@media screen and (min-width: 500px){
    .carrousel-fotos{
        overflow: hidden;
    }

    .carrousel-fotos img{
        display: block;
        width: 500px;
        height: 400px;
    }
    .carrousel-menu {
        display: block;
    }

    .carrousel-menu img {
        box-sizing: border-box;
        width: 50px;
        height: 40px;
        border: 8px solid burlywood;
    }
    .carrousel-menu img:hover{
        border: none;

    }
}