.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

form {
  display: grid;
  gap: 1rem;
  max-width: 800px;
  width: 100%;
}

.form-group {
  display: grid;
  gap: 0.5rem;
}

.form-group--full-width {
  grid-column: 1 / -1;
}

label {
  font-weight: bold;
}

input, textarea {
  padding: 0.5rem;
  width: 100%;
}

textarea {
  grid-column: 1 / -1;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.checkbox-group {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.25rem;
}
