*{
    margin:0;
    box-sizing:border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: blanchedalmond ;
    color: black;
    padding:90px 20px 0;
      }
      /* para que los enlces no tengan una linea por debajo*/
    
     
      
.header{
    background-color:white ;
    height: 80px;
    position: fixed;/* que quede fijo el header sobre el contenido de navegación*/
    width: 100%;
    top:0;
    left:0;
}
.nav{
    display: flex;
    justify-content:space-between; /*espaciado hacia la derecha logo iz texto*/
    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
color:white;
text-decoration: none;
}
.logo{
    font-size: 30 px;
    font-weight:700;
    padding: 0 40px; 
    line-height: 80px; /*  para que quede centrado en el mismo alto que el header alto de line igual al alto del header*/
    
}
.nav-menu{
 display: flex;
 margin-right: 40px;/*separado de la dercha 40px*/
 list-style:none; /* quita los puntos de la lista desordenada*/
}
.nav-menu-item{
font-size: 18px ;
margin: 0 10px;
line-height: 80px;/*centrar igual que el logo*/
text-transform: none;
width: max-content;
}
.nav-menu-link{
  border-radius: 3px;
  text-decoration: none;
  width: max-content; /*no cortar el contenido*/
  
}

.nav-menu-link{
padding: 8px 12px;
border-radius: 3px ;
}

.nav-menu-link:hover, /* cuando se pasa encima de los elementos cambia color*/
.nav-menu-link_active{
background-color: bisque;
transition: 0.5s;
}

.nav-toggle{
    color:white;
    background:none;
    border:none;
    font-size:30px;
    padding:0 20px;
    line-height: 60px;
    cursor:pointer;
    display: none;
}
    
 
@media (max-width:768px){
    body{
        background-color: darkgray;
        padding-top: 70px;
    }

    .header{
        height:60px ;
    }

    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
}

.nav-menu{
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color:darkgray;
    position: fixed;
    left: 0;
    top:60px; /*alto del elemento*/
    width: 100% ;
    padding: 20px 0 ;
    height:calc(100% - 60px); /* para que al hacer zoom no quede desbordado es del 100% menos los 60 del logo*/
    overflow-y: auto; /*agrega barra de scoll cuando lo necesite*/
    left: 100%;
    transition: left 0.3s ;
}
   .nav-menu-item{
   line-height: 70px;
    }
   
       
   .nav-menu-link:hover,
   .nav-menu-link_active{ /* cuando los elementos esten seleccionados,clik resalta el elementos*/
    background:none; 
    color:#83c5f7;  /* cambia color de la fuente*/
   }

   
.nav-toggle{
      display: block;
}
       
   .nav-menu_visible{
left:0;
   }
   
.nav-toggle:focus:not(:focus-visible){
    outline: none;
} /*sirve cuando se usa con tabulador*/

}